/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4TYFv.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
  font-size: 2rem;
}
body .container {
  width: 900px;
  padding: 0 40px;
}
body a {
  cursor: pointer;
}
body p {
  letter-spacing: 0.05rem;
  line-height: 1.4;
  color: #272727;
}
body li {
  color: #272727;
}
body b {
  font-weight: 700;
}
body h1,
body h2 {
  margin: 0 0 15px;
}
body h1 {
  font-size: 5rem;
}
body h2 {
  font-size: 2.5rem;
}
body button {
  background: black;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.7rem;
}
body section {
  margin: 50px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
nav a {
  text-decoration: none;
  color: black;
}
nav .logo {
  width: 140px;
  display: flex;
  justify-content: space-between;
}
nav .links {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.banner {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 49px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 49px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 49px -8px rgba(0, 0, 0, 0.3);
}
.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .intro-text {
  width: 450px;
}
.banner .intro-text h1 {
  margin-bottom: 20px;
}
.banner .intro-text p {
  margin-bottom: 15px;
}
.banner .intro-text p b.language {
  color: #f46b45;
}
.banner .intro-text p b {
  color: black;
}
.banner .intro-text p .emoji {
  font-size: 2.3rem;
}
.banner .profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 385px;
  width: 290px;
  padding: 30px 10px;
  text-align: center;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background: #f46b45;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eea849, #f46b45);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eea849, #f46b45);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.banner .profile-card img {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px rgba(255, 255, 255, 0.205) solid;
  display: block;
  width: 55%;
  border-radius: 50%;
}
.banner .profile-card p {
  font-size: 1.7rem;
  color: white;
}
.banner .profile-card a {
  text-decoration: none;
}
.banner .profile-card .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 75%;
}
.banner .profile-card .buttons button {
  width: 100%;
  color: white;
  outline: none;
  white-space: pre;
  transition: 0.2s;
  background: rgba(0, 0, 0, 0.616);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.banner .profile-card .buttons button:hover {
  background: rgba(0, 0, 0, 0.781);
  transition: 0.2s;
}
.contact ul {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
footer {
  z-index: 2;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.247);
  padding: 20px 0;
  background: #f46b45;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eea849, #f46b45);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eea849, #f46b45);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}
